<div class="ui-block">
    
    <!-- News Feed Form  -->

    <div class="ui-block-content paper-form-wrapper" *ngIf="globals.token">
        <div class="row">
            <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <label class="control-label">Paper Title <sup><i class='fa fa-asterisk required'></i></sup></label>
                <label class='has-error-line' *ngIf="paperNoti.title"> - {{ paperNoti.title }}</label>
                <div class="form-group" [ngClass]="{'has-error': paperNoti.title}">
                    <input class="form-control" type="text" placeholder="Ex. A Deep learning approach for ..." [(ngModel)]="paper.title" name="title">
                </div>
                <div class='row'>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="control-label">Authors (Separated by commas ",") <sup><i class='fa fa-asterisk required'></i></sup></label>
                        <label class='has-error-line' *ngIf="paperNoti.authors"> - {{ paperNoti.authors }}</label>
                        <div class="form-group" [ngClass]="{'has-error': paperNoti.authors}">
                            <input type="text" class="form-control" placeholder="Ex. Andrew Ng., Ian Goodfellow" [(ngModel)]="paper.authors" name="authors">
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="control-label">Year of publication <sup><i class='fa fa-asterisk required'></i></sup></label>
                        <label class='has-error-line' *ngIf="paperNoti.year"> - {{ paperNoti.year }}</label>
                        <div class="form-group" [ngClass]="{'has-error': paperNoti.year}">
                            <input type="text" class="form-control" placeholder="Ex. 2019" [(ngModel)]="paper.year" name="year">
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="control-label">Keys (Separated by commas ",")</label>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Deep Learning, Graph Convolutional Networks" [(ngModel)]="paper.keys" name="keys">
                        </div>
                    </div>
                    <div class="col col-12 col-xl-6 col-lg-6 col-md-6 col-sm-12">
                        <label class="control-label">Project (Belonging to)</label> <button class='btn btn-purple btn-circle' (click)="openResearchModal()"><i class='fa fa-plus'></i></button>
                        <div class="form-group">
                            <select class="form-control">
                                <option value="{{r.research_id}}" *ngFor="let r of researches">{{r.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>

                <label class="control-label">Conference/Journal name <sup><i class='fa fa-asterisk required'></i></sup></label>
                <label class='has-error-line' *ngIf="paperNoti.conference"> - {{ paperNoti.conference }}</label>
                <div class="form-group" [ngClass]="{'has-error': paperNoti.conference}">
                    <input type="text" class="form-control" placeholder="Ex. ICDE or International Conference of Data Engineering" [(ngModel)]="paper.conference" name="conference">
                </div>

                <label class="control-label">Abstract <sup><i class='fa fa-asterisk required'></i></sup></label>
                <label class='has-error-line' *ngIf="paperNoti.abstract"> - {{ paperNoti.abstract }}</label>
                <div class="form-group" [ngClass]="{'has-error': paperNoti.abstract}">
                    <textarea class="form-control" placeholder="Paste the abstract of the paper here" [(ngModel)]="paper.abstract" name="abstract"></textarea>
                </div>

                <label class="control-label">Comments</label>
                <div class="form-group">
                    <textarea class="form-control" placeholder="You can tell your own ideas" [(ngModel)]="paper.comments" name="comments"></textarea>
                </div>
                <button (click)="savePaper()" class="btn btn-purple btn-lg full-width">Submit<div class="ripple-container"></div></button>
            </div>
        </div>
    </div>
</div>
    
    <!-- ... end News Feed Form  -->		
<div id="newsfeed-items-grid">
    <div class="ui-block main-noti" *ngIf="!papers.length">
        <p>There are no contents or some errors may occur</p>
    </div>
    <div class="ui-block" *ngFor="let p of papers">

        <article class="hentry post">
            <div class='hentry-inner' [ngClass]="{'post-read-more': p.active}">
                <div class="post__author author vcard inline-items">
                    <img src="assets/img/avatar10-sm.jpg" alt="author">
            
                    <div class="author-date">
                        <a class="h6 post__author-name fn" [routerLink]="['/profile', p.read_by]">{{p.fullname}}</a>
                        <div class="post__date">
                            <time class="published">
                                {{p.read_date}}
                            </time>
                        </div>
                    </div>
            
                    <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                        <ul class="more-dropdown">
                            <li>
                                <a href="#">Edit Post</a>
                            </li>
                            <li>
                                <a href="#">Delete Post</a>
                            </li>
                        </ul>
                    </div>
            
                </div>
            
                <p><i class="fa fa-file-signature"></i>&nbsp;<b>Title:</b> {{p.title}}</p>
                <p><i class="fa fa-users"></i>&nbsp;<b>Authors:</b> {{p.authors}}</p>
                <p><i class="fa fa-calendar-alt"></i>&nbsp;<b>Year:</b> {{p.year}}</p>
                <p><i class="fa fa-file-alt"></i>&nbsp;<b>Abstract:</b> {{strimParagraph(p)}}</p>
                <p *ngIf="p.active && p.comments"><i class="fa fa-comments"></i> &nbsp;<b>Comments: </b>{{p.comments}}</p>
            </div>
            <div class="post-additional-info inline-items read-more-wrapper">
                <div class="read-more" (click)="p.active = !p.active">
                    <span *ngIf="!p.active"><i class="fa fa-angle-down"></i> Show more</span>
                    <span *ngIf="p.active"><i class="fa fa-angle-up"></i> Show less</span>
                </div>
            </div>
        </article>
        
        <!-- Comments -->
        
        <!-- ... end Comment Form  -->
    </div>

</div>

<button id="load-more-button" class="btn btn-control btn-more" (click)="loadMore()">
    <svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
</button>

<!-- ... end Main Content -->