<div class="modal-header">
    <h4 class="modal-title">Create new project</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="row paper-form-wrapper">
        <div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <label class="control-label">Name <sup><i class='fa fa-asterisk required'></i></sup></label>
            <label class='has-error-line' *ngIf="researchNoti.name"> - {{ researchNoti.name }}</label>
            <div class="form-group" [ngClass]="{'has-error': researchNoti.name}">
                <input class="form-control" type="text" placeholder="Ex. Distributed Deep Learning" [(ngModel)]="research.name" name="name">
            </div>

            <label class="control-label">Goals <sup><i class='fa fa-asterisk required'></i></sup></label>
            <label class='has-error-line' *ngIf="researchNoti.goals"> - {{ researchNoti.goals }}</label>
            <div class="form-group" [ngClass]="{'has-error': researchNoti.goals}">
                <textarea class="form-control" placeholder="What are the main purposes of your research?" [(ngModel)]="research.goals" name="goals"></textarea>
            </div>
            <div class="row">
                <div class="col col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <label class="control-label">Start Date <sup><i class='fa fa-asterisk required'></i></sup></label>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control date-picker" placeholder="yyyy-mm-dd"
                                        name="sdp" [(ngModel)]="startDate" ngbDatepicker #sdp="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="sdp.toggle()" type="button">
                                        <!-- <i class='fa fa-calendar-alt'></i> -->
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <label class="control-label">End Date</label>
                    <form class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control date-picker" placeholder="yyyy-mm-dd"
                                        name="edp" [(ngModel)]="endDate" ngbDatepicker #edp="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary calendar" (click)="edp.toggle()" type="button">
                                        <!-- <i class='fa fa-calendar-alt'></i> -->
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col col-12 col-xl-4 col-lg-4 col-md-4 col-sm-12">
                    <label class="control-label">Type</label>
                    <div class="form-group">
                        <select class="form-control" name="type" [(ngModel)]="research.type">
                            <option value="1">Research</option>
                            <option value="2">Project</option>
                        </select>
                    </div>
                </div>
                <label class='has-error-line' *ngIf="researchNoti.start_date"> - {{ researchNoti.start_date }}</label>
            </div>
            
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
    <button (click)="saveResearch()" class="btn btn-purple">Save<div class="ripple-container"></div></button>
</div>
