<!-- Fixed Sidebar Left -->

<div class="fixed-sidebar fixed-sidebar-responsive">

    <div class="fixed-sidebar-left sidebar--small" id="sidebar-left-responsive">
        <a href="#" class="logo js-sidebar-open">
            <img src="assets/img/logo.png" alt="Olympus">
        </a>

    </div>

    <div class="fixed-sidebar-left sidebar--large" id="sidebar-left-1-responsive">
        <a href="#" class="logo">
            <div class="assets/img-wrap">
                <img src="assets/img/logo.png" alt="Olympus">
            </div>
        </a>

        <div class="mCustomScrollbar" data-mcs-theme="dark">

            <div class="control-block">
                <div class="author-page author vcard inline-items">
                    <div class="author-thumb">
                        <img alt="author" src="assets/img/author-page.jpg" class="avatar">
                        <span class="icon-status online"></span>
                    </div>
                    <a href="02-ProfilePage.html" class="author-name fn">
                        <div class="author-title">
                            Alex Bui <svg class="olymp-dropdown-arrow-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
                        </div>
                        <span class="author-subtitle">PhD Student</span>
                    </a>
                </div>
            </div>

            <ul class="left-menu">
                <li>
                    <a href="#">

                        <svg class="olymp-menu-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
                        <span>Profile Settings</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FAV PAGE"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
                        <span>Manage projects</span>
                    </a>
                </li>
                <li>
                    <a (click)="logout()">
                        <svg class="olymp--icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- ... end Fixed Sidebar Left -->

<!-- ... end Fixed Sidebar Left -->
<header class="header" id="site-header" *ngIf="globals.isShowingHeader">

	<div class="page-title">
		<h6><a [routerLink]="['/newfeeds']">PIDL Research Diary</a></h6>
	</div>

	<div class="header-content-wrapper">
		<form class="search-bar w-search notification-list friend-requests">
			<div class="form-group with-button">
				<input class="form-control js-user-search" placeholder="Search papers or conferences..." type="text">
				<button>
					<svg class="olymp-magnifying-glass-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
				</button>
			</div>
		</form>

		<div class="control-block">

			<div class="control-icon more has-items">
				<svg class="olymp-happy-face-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
				<!-- <div class="label-avatar bg-blue">6</div> -->

			</div>

			<div class="control-icon more has-items">
				<svg class="olymp-chat---messages-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
				<!-- <div class="label-avatar bg-purple">2</div> -->

			</div>

			<div class="control-icon more has-items">
				<svg class="olymp-thunder-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>

				<!-- <div class="label-avatar bg-primary">8</div> -->

            </div>
            <button class='btn btn-outline-light login-box' *ngIf="!globals.token" (click)="openLoginModal()">
                <i class='fa fa-user-alt'></i>  Sign in
            </button>

			<div class="author-page author vcard inline-items more"  *ngIf="globals.token">
				<div class="author-thumb">
					<img alt="author" src="assets/img/author-page.jpg" class="avatar">
					<span class="icon-status online"></span>
					<div class="more-dropdown more-with-triangle">
						<div class="mCustomScrollbar" data-mcs-theme="dark">
							<div class="ui-block-title ui-block-title-small">
								<h6 class="title">Your Account</h6>
							</div>

							<ul class="account-settings">
								<li>
									<a class='link-button'>

										<svg class="olymp-menu-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
										<span>Profile Settings</span>
									</a>
								</li>
								<li>
									<a class='link-button'>
										<svg class="olymp-star-icon left-menu-icon"  data-toggle="tooltip" data-placement="right"   data-original-title="FAV PAGE"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-star-icon"></use></svg>
										<span>Manage projects</span>
									</a>
								</li>
								<li>
									<a class='link-button' (click)="logout()">
										<svg class="olymp-logout-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-logout-icon"></use></svg>
										<span>Log Out</span>
									</a>
								</li>
							</ul>

						</div>
					</div>
				</div>
				<a href="#" class="author-name fn">
					<div class="author-title">
						{{globals.fullname}} <svg class="olymp-dropdown-arrow-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-dropdown-arrow-icon"></use></svg>
					</div>
					<span class="author-subtitle">PhD Student</span>
				</a>
			</div>

		</div>
	</div>

</header>

<!-- ... end Header-BP -->

<!-- Responsive Header-BP -->

<header class="header header-responsive" id="site-header-responsive">

    <div class="header-content-wrapper">
        <ul class="nav nav-tabs mobile-app-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#request" role="tab">
                    <div class="control-icon has-items">
                        <svg class="olymp-happy-face-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
                        <div class="label-avatar bg-blue">6</div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#chat" role="tab">
                    <div class="control-icon has-items">
                        <svg class="olymp-chat---messages-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
                        <div class="label-avatar bg-purple">2</div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#notification" role="tab">
                    <div class="control-icon has-items">
                        <svg class="olymp-thunder-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-thunder-icon"></use></svg>
                        <div class="label-avatar bg-primary">8</div>
                    </div>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#search" role="tab">
                    <svg class="olymp-magnifying-glass-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-magnifying-glass-icon"></use></svg>
                    <svg class="olymp-close-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
                </a>
            </li>
        </ul>
    </div>

    <!-- Tab panes -->
    <div class="tab-content tab-content-responsive">
        <div class="tab-pane " id="search" role="tabpanel">
            <form class="search-bar w-search notification-list friend-requests">
                <div class="form-group with-button">
                    <input class="form-control js-user-search" placeholder="Search here people or pages..." type="text">
                </div>
            </form>
        </div>

    </div>
    <!-- ... end  Tab panes -->

</header>


<!-- ... end Responsive Header-BP -->
<div class="header-spacer" *ngIf="globals.isShowingHeader"></div>


<div class='container'>

    <!-- ... end Window-popup Choose from my Photo -->


    <a class="back-to-top" (click)="goToTop()">
        <img src="assets/svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
    </a>

    <!-- JS Scripts -->
    <div class="row">       
        
        <!-- Main Content -->
        <main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12">
                <router-outlet> </router-outlet>
        </main>
        <!-- Left Sidebar -->

        <aside class="col col-xl-3 order-xl-1 col-lg-6 order-lg-2 col-md-6 col-sm-6 col-12">

            <div class="ui-block main-calendar">
                <ngb-datepicker #cal [(ngModel)]="calendar" (navigate)="date = $event.next"></ngb-datepicker>
            </div>
            <div class="ui-block">
                <div class="ui-block-title">
                    <h6 class="title">Conference Alerts</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>
        
                <!-- W-Friend-Pages-Added -->
                
                <ul class="widget w-friend-pages-added notification-list conference-wrapper-list">
                    <li class="inline-items" *ngFor="let conf of conferences">
                        <div class="full-notification-event">
                            <h5><a href="{{conf.link}}" class="conf-title">{{conf.year}} {{conf.name}}</a></h5>
                            <p class='count-down'><i class="fa fa-stopwatch"></i> {{conf.count_down}}</p>
                            <p><i class="fa fa-clock"></i> Deadline: {{conf.submit_date}} GMT+0000</p>
                            <p><i class="fa fa-calendar-alt"></i> {{conf.start_date}} <i class="fa fa-map-marker-alt"></i> {{ conf.location}}</p>
                        </div>
                    </li>
                </ul>
                
                <!-- .. end W-Friend-Pages-Added -->
            </div>
        </aside>
            <!-- ... end Left Sidebar -->
        <!-- Right Sidebar -->

        <aside class="col col-xl-3 order-xl-3 col-lg-6 order-lg-3 col-md-6 col-sm-6 col-12">

            <div class="ui-block">

                <div class="ui-block-title">
                    <h6 class="title">Lab's Notices</h6>
                    <a href="#" class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>
                </div>

                
                <!-- W-Activity-Feed -->
                
                <ul class="widget w-activity-feed notification-list">
                    <li *ngFor="let item of [1,2,3,4,5]">
                        <div class="author-thumb">
                            <img src="assets/img/avatar49-sm.jpg" alt="author">
                        </div>
                        <div class="notification-event">
                            <a href="#" class="h6 notification-friend">Dongkyu Lee:</a> we will have a lab meeting this week on Sat 20th, 2019.
                            <span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">2 mins ago</time></span>
                        </div>
                    </li>
            
                
                </ul>
                
                <!-- .. end W-Activity-Feed -->
            </div>

        </aside>

        <!-- ... end Right Sidebar -->
    </div>
</div>
