<div id="newsfeed-items-grid">
    <div class="ui-block main-noti">
        <p>Showing only papers read by </p>
    </div>
    <div class="ui-block main-noti"  *ngIf="!papers.length">
        <p>There are no contents or some errors may occur</p>    
    </div>
    <div class="ui-block" *ngFor="let p of papers">

        <article class="hentry post">
            <div class='hentry-inner' [ngClass]="{'post-read-more': p.active}">
                <div class="post__author author vcard inline-items">
                    <img src="assets/img/avatar10-sm.jpg" alt="author">
            
                    <div class="author-date">
                        <a class="h6 post__author-name fn" [routerLink]="['/profile', p.read_by]">{{p.fullname}}</a>
                        <div class="post__date">
                            <time class="published">
                                {{p.read_date}}
                            </time>
                        </div>
                    </div>
            
                    <div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
                        <ul class="more-dropdown">
                            <li>
                                <a href="#">Edit Post</a>
                            </li>
                            <li>
                                <a href="#">Delete Post</a>
                            </li>
                        </ul>
                    </div>
            
                </div>
            
                <p><i class="fa fa-file-signature"></i>&nbsp;<b>Title:</b> {{p.title}}</p>
                <p><i class="fa fa-users"></i>&nbsp;<b>Authors:</b> {{p.authors}}</p>
                <p><i class="fa fa-calendar-alt"></i>&nbsp;<b>Year:</b> {{p.year}}</p>
                <p><i class="fa fa-file-alt"></i>&nbsp;<b>Abstract:</b> {{strimParagraph(p)}}</p>
                <p *ngIf="p.active && p.comments"><i class="fa fa-comments"></i> &nbsp;<b>Comments: </b>{{p.comments}}</p>
            </div>
            <div class="post-additional-info inline-items read-more-wrapper">
                <div class="read-more" (click)="p.active = !p.active">
                    <span *ngIf="!p.active"><i class="fa fa-angle-down"></i> Show more</span>
                    <span *ngIf="p.active"><i class="fa fa-angle-up"></i> Show less</span>
                </div>
            </div>
        </article>
        
        <!-- Comments -->
        
        <!-- ... end Comment Form  -->
    </div>

</div>

<button id="load-more-button" class="btn btn-control btn-more" (click)="loadMore()">
    <svg class="olymp-three-dots-icon"><use xlink:href="assets/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
</button>

<!-- ... end Main Content -->